{% extends 'base.html' %}

{% block head%}
<title>Data</title>
{% endblock %}

{% block body%}
    <div class="container"> 
        
        <div class="form-container">
            <form role="form" action="/" method="POST">
                <input type="text" name="url" id="url-box" placeholder="Enter URL" autofocus required style="width: 350px;">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
        </div> 

        {% if errors[0] %}
            <div class="error-container">
                {% for error in errors%}
                    <p>{{error}}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if objects[0] %}
            {% for object in objects %}
                <div class="results-container">
                    <p> {{object}} </p>
                </div>
            {% endfor %}
        {% endif %}

    </div>
    
{% endblock %}
