body{
    margin: 10px;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    
    align-items: center;
    margin: 100px;
    
}
.form-container{
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.error-container{
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8d7da;
    color: #721c24;
}
.results-container{
    width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #d4edda;
    color: #155724;
}